package pages

import layout "github.com/andreiz53/web-scraper/views/layout"

templ History() {
    @layout.Page("History") {
		<div class="text-center">
			<h1>History</h1>
			<p>Website visited in the past.</p>
		</div>
	}
}