package pages

templ WebsiteFail() {
    <p>Could not fetch website.</p>
    <p>Make sure you add the full path to the website, including the protocol (http:// or https://).</p>   
    <p>For example: https://google.com</p>
}